<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.humoodagen.ghostty-prewarm</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/nu</string>
      <string>/Users/ahmedelamin/.dotfiles/ghostty_prewarm.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>LimitLoadToSessionType</key>
    <array>
      <string>Aqua</string>
    </array>
  </dict>
</plist>
